{% extends 'base.html.twig' %}

{% block body %}
    <div class="main">
    {% if app.user %}
    
        <h2 class="article-form-title">Créer une catégorie :</h2>

        <div class="article-form">
            {{ form_start(form) }}
                <div "article-form-title-label form-label">
                    {{ form_label(form.name)}}
                </div>
                <div "article-form-title-widget">
                    {{ form_widget(form.name)}}
                </div>
                <button class="save-button">{{ button_label|default('Sauvegarder') }}</button>
            {{ form_end(form) }}
        </div>
        <div class="back-to-articles">
            <a href="{{ path('app_category_index') }}">Retour aux catégories</a>
        </div>
        {% else %}
            <h2 class="article-form-title">Vous n'êtes pas connecté(e)</h2>
        {% endif %}
    </div>
{% endblock %}

