{% extends 'base.html.twig' %}

{% block body %}
    <div class="main">
        <h2 class="articles-title">Articles :</h2>
        <h3 class="articles-title">Catégorie : {{ category.name }}</h3>

        <div class="articles-articles">
        {% for article in articles %}
        {% for article_category in article.category %} 
            {% if article_category.id == category.id %}
            
                <div class="articles-article">
                    <h3 class="articles-article-title">{{ article.title }}</h3>
                    <p class="articles-article-content">{{ article.content}}</p>
                    <ul class="category-list">
                        {% for category in article.category %}
                            <li><a href="{{ path('app_category_articleByCategory', {'id': category.id}) }}">{{ category.name }}</a></li>
                        {% endfor %}
                    </ul>
                    <p class="articles-article-date" >{{ article.date|date('d/m/Y')}}</p>
                    <button type="button" class="home-article-button" onclick="window.location.href='{{ path('app_article_show', {'id': article.id}) }}';">Voir l'article</button>
                </div>
            {% endif %}
        {% endfor %}
        {% endfor %}
        </div>
    </div>
{% endblock %}