{% extends 'base.html.twig' %}

{% block body %}    
    <div class="main">
    
        <div class="search-div">
            {{ form_start(form)}}
                <div "article-form-title-label form-label">
                    {{ form_label(form.q)}}
                </div>
                <div "article-form-title-widget">
                    {{ form_widget(form.q)}}
                </div>
                <button class="submit-button" type="submit">Rechercher</button>
            {{ form_end(form)}}
        </div>
        
        

        {% if articles != null %}
            {% for article in articles %}
                <div class="articles-article">
                    <h3 class="articles-article-title">{{ article.title }}</h3>
                    <p class="articles-article-content">{{ article.content}}</p>
                    <ul class="category-list">
                        {% for category in article.category %}
                            <li><a href="{{ path('app_category_articleByCategory', {'id': category.id}) }}">{{ category.name }}</a></li>
                        {% endfor %}
                    </ul>
                    <div class="article-footer">
                        <p class="articles-article-date" >{{ article.date|date('d/m/Y')}}</p>
                        {% if article.user != null %}
                            <a href='{{path('app_user_show', {'id': article.user.id }) }}' class="profile-link"> {{ article.user.username }} </a>
                        {% endif %}
                    </div>
                    <button type="button" class="home-article-button" onclick="window.location.href='{{ path('app_article_show', {'id': article.id}) }}';">Voir l'article</button>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    
{% endblock %}

