{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <div class="main">
        <h2 class="article-title">{{article.title}} :</h1>

        <div class="article-article">
            <p>{{article.content}}</p>
            <ul class="category-list">
                    {% for category in article.category %}
                        <li><a href="{{ path('app_category_articleByCategory', {'id': category.id}) }}">{{ category.name }}</a></li>
                    {% endfor %}
                </ul>
            <div class="article-footer">
                <p class="articles-article-date" >{{ article.date|date('d/m/Y')}}</p>
                {% if article.user != null %}
                <div class="author">
                    <p>Auteur : </p>
                    <a href='{{path('app_user_show', {'id': article.user.id }) }}' class="profile-link"> {{ article.user.username }} </a>
                </div>
                {% endif %}
            </div>

            {% if app.user %}
            {% set roles = app.user.roles %}
                {% if 'ROLE_ADMIN' in roles %}
                <div class="article-button-div">
                    <button type="button" class="home-article-button" onclick="window.location.href='{{ path('app_article_edit', {'id': article.id}) }}';">Modifier</button>
                    {{ include('article/_delete_form.html.twig') }}
                </div>
                {% else %}
                    {% if app.user.id == article.user.id %}
                        <div class="article-button-div">
                            <button type="button" class="home-article-button" onclick="window.location.href='{{ path('app_article_edit', {'id': article.id}) }}';">Modifier</button>
                            {{ include('article/_delete_form.html.twig') }}
                        </div>
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}
